<p>
  <strong>Title</strong><br />

  <%= @referral.title %>
</p>

<p>
  <strong>Name</strong><br />

  <%= @referral.name %>
</p>

<p>
  <strong>Address</strong><br />

  <%= @referral.address %>
</p>

<p>
  <strong>Date of birth</strong><br />

  <%= @referral.date_of_birth %>
</p>

<p>
  <strong>Contact method details</strong><br />

  <%= @referral.contact_method_details %>
</p>

<p>
  <strong>Additional information</strong><br />

  <%= @referral.additional_information %>
</p>

