<%= content_for :head do %>
  <script>
    $(document).on('click', '.referral-submissions-button', function(e) {
      fbq('track', 'CompleteRegistration');
    });
  </script>
<% end %>
<%= form_for @referral, url: referrals_path do |f| %>
  <% if @referral.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize @referral.errors.count, 'error' %> prevented this message from being sent
      </h2>
      <ul>
        <% @referral.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="contact-details">
    <div class="field small">
      <%= f.label :title %><br />
      <%= f.text_field :title, placeholder: 'Title' %>
    </div>
    <div class="field large">
      <%= f.label :name %><br />
      <%= f.text_field :name, placeholder: 'Name of person' %>
    </div>
    <div class="field large">
      <%= f.label :date_of_birth %><br />
      <%= f.text_field :date_of_birth, placeholder: 'Date of birth' %>
    </div>
  </div>
  <div class="contact-details">
    <div class="field large">
      <%= f.label :contact_method_details, "Contact method" %><br />
      <%= f.text_field :contact_method_details, placeholder: 'Phone number or email' %>
    </div>
    <div class="field large">
      <%= f.label :address %><br />
      <%= f.text_area :address, placeholder: 'Address' %>
    </div>
    <div class="field large">
      <%= f.label :additional_information, 'Additional information (optional)' %><br />
      <%= f.text_area :additional_information, placeholder: 'Optional useful information' %>
    </div>
  </div>
  <div class="field">
    <%= f.check_box :privacy_policy, required: true %>
    <%= f.label :privacy_policy, "I agree to the #{link_to 'privacy policy', '/pages/privacy-policy'}.".html_safe %>
  </div>

  <div class="field">
  </div>
  <div class="actions">
    <%= f.submit "Send", class: "submit-button referral-submissions-button" %>
  </div>
<% end %>
