<div class="banner">
  <div class="banner-content">
    <% present @banner_text do |additional_content_presenter| %>
      <%= additional_content_presenter.content %>
    <% end %>


    <% present @banner_button do |button_presenter| %>
      <%= button_presenter.linked_text("<span class='button-chevron'>#{button_presenter.link_text}</span>".html_safe, class: 'referral-button') %>
    <% end %>
  </div>

  <%= image_tag 'components/banner/primary-background.png',
                alt: '', class: 'referral-banner '%>
</div>

<div class="page">
  <div class="content">
    <%= render 'shared/flash_messages' %>

    <%= render @home_page_item %>
  </div>

  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>
</div>
